/.venv/
/.idea/
/.vscode/
.env
**/__pycache__/
*.pyc
*.pkl
*.db
*.zip
*.log
*.pdf
*.gv
.DS_Store

/ethix_dataset/Ethix-Dataset.csv
/ethix_dataset/EthiX-main.zip
/ethix_dataset/EthiX-main/
/ustv_dataset/data/

/helpers/*
/model_weights/*
!/model_weights/.gitkeep
/model_logs/*
!/model_logs/.gitkeep
/temp_data/*
!/temp_data/.gitkeep